#main-content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50vw;
    height:100vh;

}
.btn{
    background-color: navy;
    border:2px;
    border-color:blue;
    padding:5px;
}
#content2{
    float:right;
    border:2px;
    justify-content: space-evenly;
}
.thread{
    display: flexbox;
    background-color:yellow;
}
#btn{
    background-color: blue;
    border:2px;
    padding:5px;
    margin:5px;
    font-size: medium;
}
#btn:hover{
    background-color: white;
}